html {
  scroll-behavior: smooth;
}
html body {
  color: #A7C8F2;
  font-family: helvetica;
  font-size: 3vmin;
}

a {
  text-decoration: underline;
  color: #F25116;
}

a:hover {
  color: #048ABF;
}

.navbar-dark {
  background-color: #0D0D0D;
}
.navbar-dark a.nav-link {
  color: #F25116 !important;
}

h2 {
  font-size: 10vmin;
  font-family: "Satisfy", cursive;
  color: #F2F2F2;
  padding: 0;
  margin: 0;
}

p {
  text-align: justify;
}

span {
  padding: 1vmin;
  border-radius: 1vmin;
}

.andresandstef {
  margin-bottom: 10vmin;
}

#welcome, #beach, #mountain {
  background-color: #F2F2F2;
  color: #0D0D0D;
}
#welcome h2, #beach h2, #mountain h2 {
  color: #0D0D0D;
  margin-bottom: 10vmin;
}
#welcome .blockquote, #beach .blockquote, #mountain .blockquote {
  text-align: right;
  font-family: "Satisfy", cursive;
  font-size: 5vmin;
  border-right: 5vmin #0D0D0D solid;
  padding-right: 5vmin;
}

#included {
  background: url(/assets/images/pattern01.png);
  background-color: #027368;
  color: #F2F2F2;
}
#included li {
  color: #027368;
}

#not-included {
  background: url(/assets/images/pattern02.png);
  background-color: #F25116;
}
#not-included li {
  color: #0D0D0D;
}

#packing {
  background: url(/assets/images/pattern03.png);
  background-color: #048ABF;
}
#packing li {
  color: #048ABF;
}
#packing p {
  color: #F2F2F2;
}

hr {
  border-color: #F2F2F2;
  margin: 10vmin;
}

#included, #not-included, #requirements, #packing {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#included ul, #not-included ul, #requirements ul, #packing ul, #contact-us ul {
  list-style: none;
  padding: 0;
}
#included li, #not-included li, #requirements li, #packing li, #contact-us li {
  background-color: #F2F2F2;
  margin-bottom: 2vmin;
  padding: 2vmin;
  border-radius: 2vmin 0 2vmin 0;
}
#included h3, #not-included h3, #requirements h3, #packing h3, #contact-us h3 {
  font-size: 4vmin;
  margin-bottom: 4vmin;
}
#included .dates, #not-included .dates, #requirements .dates, #packing .dates, #contact-us .dates {
  background-color: #0D0D0D;
  color: #F2F2F2;
}
#included .price, #not-included .price, #requirements .price, #packing .price, #contact-us .price {
  padding: 3vmin;
  background-color: #0D0D0D;
}

#requirements {
  background: url(/assets/images/pattern04.png);
  background-color: #0D0D0D;
}
#requirements li {
  color: #0D0D0D;
}

#beach {
  background-image: url(/assets/images/beach.jpg);
}

#mountain {
  background-image: url(/assets/images/mountain.jpg);
}

#youwant {
  background-color: #f7f7ef;
}
#youwant h2 {
  color: #0D0D0D;
  font-size: 10vmin;
}
#youwant h2.dark {
  color: #F2F2F2;
  background-color: #0D0D0D;
  padding: 2vmin;
}
#youwant p {
  color: #0D0D0D;
}

#beach, #mountain {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#beach h2, #beach .content, #mountain h2, #mountain .content {
  background-color: #F2F2F2;
  padding: 4vmin;
  text-align: justify;
  border-radius: 2vmin 0 2vmin 0;
}

#contact-us {
  background: url(/assets/images/pattern05.png);
  background-color: #0D0D0D;
}
#contact-us .p-big {
  margin-bottom: 0;
}
#contact-us p:last-child {
  margin-bottom: 0;
}
#contact-us p {
  text-align: center;
  color: #F2F2F2;
}
#contact-us .fab, #contact-us .far {
  font-size: 5vmin;
}

section {
  overflow: hidden;
}

.p-big {
  margin: 20vh 5vh;
}

@media (min-width: 992px) {
  .navbar-dark a.nav-link {
    font-size: 2vmin;
  }
}

/*# sourceMappingURL=main.css.map */
