$dark: #0D0D0D;
$orange: #F25116;
$green: #027368;
$blue: #048ABF;
$ligth01: #F2F2F2;
$ligth02: #A7C8F2;

$common-border: 2vmin 0 2vmin 0;

$small-font: 3vmin;
$big-font: 16vmin;
$medium-font: 10vmin;
$icon-font: 30vmin;

$section-border: 5vmin;

$main-font: helvetica;
$cursive-font: 'Satisfy', cursive;

html {
  scroll-behavior: smooth;

  body {
    color: $ligth02;
    font-family: $main-font;
    font-size: $small-font;
  }

}

a {
  text-decoration: underline;
  color: $orange;
}

a:hover {
  color: $blue;
}

.navbar-dark {
  background-color: $dark;

  a.nav-link {
    color: $orange !important;
  }
}

h2 {
  font-size: $medium-font;
  font-family: $cursive-font;
  color: $ligth01;
  padding: 0;
  margin: 0;
}

p {
  text-align: justify;
}

span {
  padding: 1vmin;
  border-radius: 1vmin;
}

.andresandstef {
  margin-bottom: 10vmin;
}

#welcome, #beach, #mountain{
  background-color: $ligth01;
  color: $dark;

  h2 {
    color: $dark;
    margin-bottom: 10vmin;
  }

  .blockquote {
    text-align: right;
    font-family: $cursive-font;
    font-size: 5vmin;
    border-right: 5vmin $dark solid;
    padding-right: 5vmin;
  }
}

#included {
  background: url(/assets/images/pattern01.png);

  background-color: $green;
  color: $ligth01;

  li {
    color: $green;
  }
}

#not-included {
  background: url(/assets/images/pattern02.png);

  background-color: $orange;

  li {
    color: $dark; 
  }
}

#packing {

  background: url(/assets/images/pattern03.png);

  background-color: $blue;

  li {
    color: $blue;
  } 

  p {
    color: $ligth01;
  }
}

hr {
  border-color: $ligth01;
  margin: 10vmin;
}

#included, #not-included, #requirements, #packing {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#included, #not-included, #requirements, #packing, #contact-us {
  ul {
    list-style:  none;
    padding: 0;
  }

  li {
    background-color: $ligth01;
    margin-bottom: 2vmin;
    padding: 2vmin;
    border-radius: $common-border;
  }

  h3 {
    font-size: 4vmin;
    margin-bottom: 4vmin;
  }

  .dates {
    background-color: $dark;
    color: $ligth01;
  }

  .price {
    padding: 3vmin;
    background-color: $dark;
  }
}

#requirements {
  background: url(/assets/images/pattern04.png);

  background-color: $dark;

  li {
    color: $dark;
  }
}

#beach {
  background-image: url(/assets/images/beach.jpg);
}

#mountain {
  background-image: url(/assets/images/mountain.jpg);
}

#youwant {
  background-color: #f7f7ef;

  h2 {
    color: $dark;
    font-size: $medium-font;

    &.dark {
      color: $ligth01;
      background-color: $dark;
      padding: 2vmin;
    }
  }

  p {
    color: $dark;
  }
}

#beach, #mountain {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h2, .content {
    background-color: $ligth01;
    padding: 4vmin;
    text-align: justify;
    border-radius: $common-border;
  }
}

#contact-us {
  background: url(/assets/images/pattern05.png);

  .p-big {
    margin-bottom: 0;
  }

  p:last-child {
    margin-bottom: 0; 
  }

  background-color: $dark;

  p {
    text-align: center;
    color: $ligth01;
  }
  
  .fab, .far {
    font-size: 5vmin;
  }
}

section {
  overflow: hidden;
}

.p-big {
  margin: 20vh 5vh;
}


@media (min-width: 992px) { 
  .navbar-dark {
    a.nav-link {
      font-size: 2vmin;
    }
  }
}